@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.hero {
  background: url(./images/hero-bg.svg) top center no-repeat;
  background-size: cover;
}

.footer {
  background: url(./images/footer.svg) top center no-repeat;
  background-size: cover;
}

.cta {
  background: linear-gradient(rgba(2, 2, 2, 0.5), rgba(0, 0, 0, 0.5)), url('./images/space-bg.jpg') fixed right center;
  background-position: right center;
  background-size: cover;
}

.nav-link {
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  right: 50%;
  background: #1e3a8a; /* Change this to your desired color */
  transition: width 0.3s ease, right 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
  right: 0;
}

@keyframes slide-in-from-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-in-from-top {
  animation: slide-in-from-top 0.5s ease-in-out forwards;
}

.timeline-container {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.timeline-container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.timeline-item {
    flex: 0 0 auto;
    scroll-snap-align: center;
    margin: 0 1rem;
    text-align: center;
    cursor: pointer;
}

.timeline-item.selected span {
    color: var(--theme-color, #6b46c1); /* Default to purple if theme color is not set */
    font-weight: bold;
}

.timeline-item.selected div {
    background-color: var(--theme-color, #6b46c1); /* Default to purple if theme color is not set */
}